body{
  background-color: #056c89;
}
h1{
  font-size: 450%;
  letter-spacing: 3px;
  color: #88b4be;
  text-decoration: bold;
  text-decoration: underline;
  font-family: "Helvetica";
}
p{
  font-size: 200%;
  color: #c3e4e9;
   text-decoration: bold;
  font-family: "Helvetica";
  letter-spacing: 3px;
}
img{
  width: 400px;
  border-style: solid;
}
iframe{
}
u1{
  text-align: center;
  list-style-type: none;
  position: fixed;
}
li{
  float: left;
}
li a{
  padding: 20px;
  color: #f3f6f4;
  text-decoration: none;
  font-family: "Helvetica";
  border: solid;
}
li a:hover{
  background-color: #023653;
  color: #88b4be;
}
